{% extends 'base.html' %}

{% block content %}
<h2>Upcoming Sessions:</h2>
{{response}}
<ul>
{% for upcoming_session in all_upcoming_sessions %}
    <li><a href="/upcoming_sessions/{{upcoming_session.id}}">{{upcoming_session.session_date}} - {{upcoming_session.session_name}}</a></li>
{% endfor %}
</ul>
<h2>Current Bookings:</h2>
{{response}}
<ul>
{% for booking in all_bookings %}
    <li><a href="/bookings/{{booking.id}}">{{booking.booking_date}} - {{booking.session.name}} - {{booking.member.last_name}}, {{booking.member.first_name}} </a></li>
{% endfor %}
</ul>
<p><a href="/bookings/new">Make new booking</a></p>
{% endblock %}