{% extends 'base.html' %}

{% block content %}
<h1>Add New Booking</h1>

<form action="/bookings" method="post">
   
    <label for="member">Member:</label>
    <select name="member_id" id="member">
    {% for member in members %}    
    <option value="{{member.id}}">{{member.last_name}}, {{member.first_name}}</option>
    {% endfor %}
    </select>
    
    <label for="session">Session:</label>
    <select name="session_id" id="session">
    {% for session in sessions %}      
    <option value="{{session.id}}">{{session.name}}</option>
    {% endfor %}    
    </select>
    
    
    
    <label for="booking_date">Date:</label>
    <input type="date" name="booking_date" id="booking_date">
    <input type="submit">
    

</form>

{% endblock %}