{% extends 'base.html' %}

{% block content %}
<h1>{{booking.session.name}} - {{booking.booking_date}}</h1>
<p>Spaces: {{booking.capacity}}</p>
<h2>Members in Session:</h2>
<ul>
{% for member in booked_members %}
    <li><a href="/members/{{member.id}}">{{member.last_name}}, {{member.first_name}}</a></li>
{% endfor %}
</ul>
<label for="member">Add Member:</label>
    <select name="member_id" id="member">
    {% for member in all_members %}    
        <option value="{{member.id}}">{{member.last_name}}, {{member.first_name}}</option>
    {% endfor %}
    </select>


{% endblock %}