body,html {
    height: 100%;
    margin: 0;
}

header {
    background-color: #ffd000;
    display: inline-flex;
    width: 100%;
}

body > header > nav { 
    text-align: center;
    margin: 0;
    padding: 0; 
    display: inline-flex;   
}

header > nav >  ul {    
    font-size: 3vw;
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top:2.8vw;
    padding-left: 8vw;
}

header > nav >  ul > li {    
    display: inline;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

a:hover{
    color: dodgerblue;
}

header > #title {
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 6vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

header > #title :hover {
    color: white;
}

body {
    margin: 0px ;
    background-image: url("images/background.jpg");
    background-size: cover;
}

main {
    /* padding-left: 20px; */
}

#welcome {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 6vw;
}

.input {
    
}
#bigbuttons {
    text-align: left;
    padding: 0px;
    font-size: 4vw;
}

#bigbuttons > div {
    margin-left: 6vw;
}

#smallbuttons > div {
    margin-left: 6vw;
}

#smallbuttons {
    margin-top: 3vw;
    font-size: 3vw;
}

/* #bigbuttons > li {
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
} */

/* #bigbuttons > div{
    padding-left: 3vw;
    padding-right: 3vw;
} */


main {
    font-family: 'Inter', sans-serif;
    color: white;
    margin-left: 4vw;
    font-size: 3vw;
}

main > h2 {
    font-size: 4vw;
    color: white;
}



