header {
    background-color: dodgerblue;
    grid-area: header;
    display: flex;
}

header > nav {
    flex: 50%;
}

header > #title {
    padding-left: 20px;
    flex: 50%;
}
    

header > nav >  ul {
    padding-right: 20px;
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

body {
    margin: 0;
}

main {
    /* padding-left: 20px; */
}

#welcome {
    text-align: center;
}

.input {
    
}


.buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly; 
}

main {
    padding: 0px 20px;
}

