{% extends 'base.html' %}

{% block content %}
<h1 id="welcome">Welcome!</h1>
<section id = "bigbuttons" style="display: flex;">
    <div style="width: 10%"></div>
    <div style="width: 26%"><a href="/members/new">New<br>Member</a></div>
    <div style="width: 26%"><a href="/sessions/new">New<br>Session</a></div>
    <div style="width: 26%"><a href="/bookings/new">New<br>Booking</a></div>
    <div style="width: 10%"></div>
</section>
<br>
<section id = "smallbuttons" style="display: flex;">
    <div style="width: 10%"></div>
    <div style="width: 26%"><a href="/members">View all Members</a></div>
    <div style="width: 26%"><a href="/sessions">View all Sessions</a></div>
    <div style="width: 26%"><a href="/bookings">View all Bookings</a></div>
    <div style="width: 10%"></div>
</section>


{% endblock %}
